* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
}

html, body {
    display: grid;
    height: 100%;
    place-items: center;
    background: #000000; /* Fundo preto */
    overflow: hidden; /* Esconde a barra de rolagem */
}

.wrapper {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #000000; /* Círculo preto */
    border: 10px solid transparent; /* Borda inicialmente transparente */
    animation: animate-border 1.5s linear infinite; /* Animação da borda */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.wrapper .clock {
    width: 100%;
    height: 100%;
    background: #000000; /* Círculo interno preto */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wrapper .display {
    background: transparent;
    text-align: center;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.wrapper .display #time {
    line-height: 1;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    z-index: 3;
    background: linear-gradient(135deg, #ff01e1, #ffeb4b, #13ffe8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-text 1.5s linear infinite;
}

.wrapper .display::before,
.wrapper .display::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 1;
}

.wrapper .display::before {
    background: radial-gradient(circle closest-side, transparent, rgba(0, 0, 0, 0.5));
    filter: blur(10px);
}

.wrapper .display::after {
    background: radial-gradient(circle closest-side, transparent, rgba(0, 0, 0, 0.8));
    filter: blur(20px);
}

@keyframes animate-border {
    0% {
    border-color: #ff01e1;
    }
    33% {
    border-color: #ffeb4b;
    }
    66% {
    border-color: #13ffe8;
    }
    100% {
    border-color: #ff01e1;
    }
}

@keyframes animate-text {
    0%{
        filter:hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
